<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CafeProject.My.MySettings.CAFESYSConnectionString"
            connectionString="Data Source=DESKTOP-J94MAMS\SQLEXPRESS;Initial Catalog=CAFESYS;User ID=sa;Password=1234"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>